@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-black dark:text-white;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-black dark:text-white;
  }
  p {
    @apply text-zinc-900 dark:text-zinc-300;
  }
  .active {
    @apply font-bold text-black dark:text-white;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
